@{
	Layout = "_LayoutAdmin";
}


@model CategoryUpdateDto

<div class="container">
	<form asp-action="CategoryUpdate" asp-controller="Admin" class="mt-5 py-5" method="post">
		<label for="@Model.Title">Category İsmi</label>
		<input type="hidden" asp-for="@Model.Id" />
		<input type="text" asp-for="@Model.Title" class="form-control" />
		<input type="submit" class="btn btn-dark mt-2" value="Güncelle" />
	</form>
</div>